* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  padding: 20px;
}
.red {
  color: red;
}
.main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 0 50px;
}
.sidebar {
  max-width: 330px;
}
.green {
  color: green;
}
.friends-list {
  list-style: none;
}
.friend-card {
  width: 330px;
  margin-bottom: 10px;
}

.friend-card-wrapper {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}
.friend-card-wrapper-selected {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  background: #dcceb4;
}
.friend-card-wrapper:hover {
  background: #dcceb4;
}
.friend-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.friend-card h3 {
  margin: 10px;
}
.friend-card p {
  font-size: 14px;
  margin: 10px;
}
button {
  display: block;
  margin: 5px 0 5px auto;
  width: fit-content;
  height: fit-content;
  background: orange;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.friend-card-desc {
  width: 190px;
}
.add-friend {
  max-width: 330px;
  border: 1px solid #f2e4c9;
  background: #f2e4c9;
  padding: 20px;
  border-radius: 10px;
}
.add-friend .row,
.form-split-block .row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}
.form-split {
  width: calc(100% - 330px);
}
.form-split-block {
  border: 1px solid #f2e4c9;
  background: #f2e4c9;
  border-radius: 10px;
  padding: 40px;
}
.form-split-block h2 {
  margin-bottom: 20px;
}
input,
select {
  width: 40%;
  height: 30px;
  padding: 5px;
}
.add-friend input {
  width: 55%;
}
